pypdf
langchain
torch
accelerate
sentence_transformers
faiss_cpu
chainlit
huggingface_hub
spacy
pdfplumber
PyMuPDF 
openai==0.28
langchain_community
streamlit
wikipedia
chromadb
tiktoken
transformers 
optimum
auto-gptq
nltk
sentence-transformers
uvicorn
ctransformers
python-box
GPT2Tokenizer
sentencepiece 
torch
torchvision 
matplotlib
torchaudio --extra-index-url https://download.pytorch.org/whl/cu117
datasets 
rouge-score 
scikit-learn


